In [1]:
import os

In [5]:


os.listdir('mats')

['2023-nwbc-data.csv',
 '2023-nwbc-raw-data.csv',
 '2023-nwbc-reds.csv',
 'nw-version-reds.xlsx',
 '2023-nwbc-reds.xlsx']

In [7]:
import pandas as pd

In [8]:
pd.__version__

'2.2.2'

In [11]:
x =1 
y = 2

In [12]:
print(x + y)

3

In [14]:
# opening the dataframe (the dataset .csv)
df = pd.read_csv('mats/2023-nwbc-reds.csv')

In [15]:
df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,2,15,Standard,Standard,133.0,0.0,-0.083,heart,0,"garcia, aramis"
1,FF,2022-10-05,93.3,2.30,5.51,"Hughes, Brandon",605244,676714,NaN,ball,...,2,15,Standard,Standard,132.0,0.0,0.014,shadow,0,"garcia, aramis"
2,SL,2022-10-05,84.3,2.45,5.21,"Hughes, Brandon",605244,676714,NaN,ball,...,2,15,Standard,Standard,216.0,0.0,0.011,waste,0,"garcia, aramis"
3,FF,2022-10-05,93.8,2.32,5.48,"Hughes, Brandon",605244,676714,NaN,called_strike,...,2,15,Standard,Standard,133.0,0.0,-0.023,heart,0,"garcia, aramis"
4,FF,2022-10-05,94.1,2.34,5.54,"Hughes, Brandon",605244,676714,NaN,swinging_strike,...,2,15,Standard,Standard,133.0,0.0,-0.017,heart,0,"garcia, aramis"

In [16]:
df.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'pitcher_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'fielder_2', 'umpire', 'sv_id',
       'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pitcher.1',
       'fielder_2.1', 'fielder_3', 'fielder_4', 'fielder_5', 'fielder_6',
       'fielder_7', 'fielder_8', 'fielder_9', 'release_pos_y',
       'estimated_ba_using_speedangle', 'estimated_woba_using_speedangle',
       'woba_value', 'woba_denom', 'babip_value', 'iso_value',
       'launch_speed_angle', 'at_bat_number', 'pitch_number', 'pitch_name',
       'home_score', 'away_score', 'bat_score', 'fld_score', 'post_away_score',
       'post_home_score', 'post_bat_score', 'post_fld_score',
       'if_fielding_alignment', 'of_fielding_alignment', 'spin_axis',
       'delta_home_win_exp', 'delta_run_exp', 'attack_zone', 'swing',
       'batter_name'],
      dtype='object')

In [22]:
df['away_score']
# there is a not a df.[ ]  it is just df['column name']

0        15
1        15
2        15
3        15
4        15
         ..
49033     0
49034     0
49035     0
49036     0
49037     0
Name: away_score, Length: 49038, dtype: int64

In [23]:
df['home_score'] + df['away_score']

0        17
1        17
2        17
3        17
4        17
         ..
49033     0
49034     0
49035     0
49036     0
49037     0
Length: 49038, dtype: int64

In [24]:
df['total_score'] = df['home_score'] + df['away_score']
# you simply state the column name you would like to add in the predetermined list.
# set it to equal the additoin of columns youd like to combine to make a new feature.

In [25]:
df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,15,Standard,Standard,133.0,0.0,-0.083,heart,0,"garcia, aramis",17
1,FF,2022-10-05,93.3,2.30,5.51,"Hughes, Brandon",605244,676714,NaN,ball,...,15,Standard,Standard,132.0,0.0,0.014,shadow,0,"garcia, aramis",17
2,SL,2022-10-05,84.3,2.45,5.21,"Hughes, Brandon",605244,676714,NaN,ball,...,15,Standard,Standard,216.0,0.0,0.011,waste,0,"garcia, aramis",17
3,FF,2022-10-05,93.8,2.32,5.48,"Hughes, Brandon",605244,676714,NaN,called_strike,...,15,Standard,Standard,133.0,0.0,-0.023,heart,0,"garcia, aramis",17
4,FF,2022-10-05,94.1,2.34,5.54,"Hughes, Brandon",605244,676714,NaN,swinging_strike,...,15,Standard,Standard,133.0,0.0,-0.017,heart,0,"garcia, aramis",17

In [31]:
df['description'].unique()
# dont for get the () at the end of the method.

array(['hit_into_play', 'ball', 'called_strike', 'swinging_strike',
       'foul', 'blocked_ball', 'swinging_strike_blocked', 'hit_by_pitch',
       'foul_tip', 'foul_bunt', 'missed_bunt', 'bunt_foul_tip',
       'pitchout'], dtype=object)

In [33]:
strike_events = ['called_strike', 'swinging_strike','foul', 'swinging_strike_blocked','foul_tip', 'foul_bunt', 'missed_bunt', 'bunt_foul_tip']
# this is a list you created as strike events.

In [34]:
df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,15,Standard,Standard,133.0,0.0,-0.083,heart,0,"garcia, aramis",17
1,FF,2022-10-05,93.3,2.30,5.51,"Hughes, Brandon",605244,676714,NaN,ball,...,15,Standard,Standard,132.0,0.0,0.014,shadow,0,"garcia, aramis",17
2,SL,2022-10-05,84.3,2.45,5.21,"Hughes, Brandon",605244,676714,NaN,ball,...,15,Standard,Standard,216.0,0.0,0.011,waste,0,"garcia, aramis",17
3,FF,2022-10-05,93.8,2.32,5.48,"Hughes, Brandon",605244,676714,NaN,called_strike,...,15,Standard,Standard,133.0,0.0,-0.023,heart,0,"garcia, aramis",17
4,FF,2022-10-05,94.1,2.34,5.54,"Hughes, Brandon",605244,676714,NaN,swinging_strike,...,15,Standard,Standard,133.0,0.0,-0.017,heart,0,"garcia, aramis",17

In [37]:
# loc method to locating information based on if statements
df.loc[df['description']=='foul']

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score
9,SI,2022-10-05,93.4,2.36,5.41,"Hughes, Brandon",641584,676714,NaN,foul,...,15,Standard,Standard,132.0,0.0,-0.066,chase,0,"fraley, jake",17
16,FC,2022-10-05,88.1,-3.07,5.74,"Strickland, Hunter",663845,519326,NaN,foul,...,2,Infield shift,Standard,104.0,0.0,-0.036,shadow,0,"rivas, alfonso",17
28,FF,2022-10-05,95.1,-0.71,5.91,"Wick, Rowan",519222,592858,NaN,foul,...,15,Standard,Standard,197.0,0.0,-0.049,chase,0,"romine, austin",17
40,SI,2022-10-05,89.8,3.32,5.04,"Sanmartin, Reiver",623520,665665,NaN,foul,...,2,Standard,Standard,119.0,0.0,-0.058,heart,0,"bote, david",17
59,FF,2022-10-05,96.0,-1.93,5.61,"Rucker, Michael",668715,621074,NaN,foul,...,13,Standard,Strategic,221.0,0.0,-0.150,heart,0,"steer, spencer",15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48979,NaN,2022-03-31,NaN,NaN,NaN,"Velasquez, Vince",606157,592826,NaN,foul,...,7,NaN,NaN,NaN,0.0,NaN,waste,0,"aquino, aristides",8
48982,NaN,2022-03-31,NaN,NaN,NaN,"Farmer, Buck",543281,571656,NaN,foul,...,1,NaN,NaN,NaN,0.0,NaN,waste,0,"harrison, josh",8
49018,NaN,2022-03-31,NaN,NaN,NaN,"Kopech, Michael",502054,656629,NaN,foul,...,2,NaN,NaN,NaN,0.0,NaN,waste,0,"pham, tommy",3
49028,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",518735,668881,NaN,foul,...,0,NaN,NaN,NaN,0.0,NaN,waste,0,"grandal, yasmani",0
49033,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",673357,668881,NaN,foul,...,0,NaN,NaN,NaN,0.0,NaN,waste,0,"robert, luis",0

In [38]:
df.loc[df['description'].isin(strike_events)]
# using the .isin method to call a list that was created.

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score
3,FF,2022-10-05,93.8,2.32,5.48,"Hughes, Brandon",605244,676714,NaN,called_strike,...,15,Standard,Standard,133.0,0.000,-0.023,heart,0,"garcia, aramis",17
4,FF,2022-10-05,94.1,2.34,5.54,"Hughes, Brandon",605244,676714,NaN,swinging_strike,...,15,Standard,Standard,133.0,0.000,-0.017,heart,0,"garcia, aramis",17
6,FF,2022-10-05,94.5,2.25,5.47,"Hughes, Brandon",608703,676714,NaN,called_strike,...,15,Standard,Standard,124.0,0.000,-0.024,shadow,0,"reynolds, matt",17
9,SI,2022-10-05,93.4,2.36,5.41,"Hughes, Brandon",641584,676714,NaN,foul,...,15,Standard,Standard,132.0,0.000,-0.066,chase,0,"fraley, jake",17
12,FF,2022-10-05,92.7,2.45,5.40,"Hughes, Brandon",641584,676714,NaN,called_strike,...,15,Standard,Standard,130.0,0.000,-0.034,heart,0,"fraley, jake",17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49033,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",673357,668881,NaN,foul,...,0,NaN,NaN,NaN,0.000,NaN,waste,0,"robert, luis",0
49034,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",673357,668881,NaN,swinging_strike,...,0,NaN,NaN,NaN,0.000,NaN,waste,0,"robert, luis",0
49035,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",641313,668881,strikeout,foul_tip,...,0,NaN,NaN,NaN,0.022,NaN,waste,0,"anderson, tim",0
49036,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",641313,668881,NaN,called_strike,...,0,NaN,NaN,NaN,0.000,NaN,waste,0,"anderson, tim",0
49037,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",641313,668881,NaN,swinging_strike,...,0,NaN,NaN,NaN,0.000,NaN,waste,0,"anderson, tim",0

In [40]:
df['is_strike'] = 0
# The above creates another new column and sets the value to 0

df.loc[df['description'].isin(strike_events), 'is_strike'] = 1
# changes the column to show is_strike column all 0, but, using the created list whenever that 
# strike is true, the value then is set to one.
# pandas if statment?

In [41]:
df['is_strike']

0        0
1        0
2        0
3        1
4        1
        ..
49033    1
49034    1
49035    1
49036    1
49037    1
Name: is_strike, Length: 49038, dtype: int64

In [49]:
df.head(9)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score,is_strike
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,Standard,Standard,133.0,0.0,-0.083,heart,0,"garcia, aramis",17,0
1,FF,2022-10-05,93.3,2.30,5.51,"Hughes, Brandon",605244,676714,NaN,ball,...,Standard,Standard,132.0,0.0,0.014,shadow,0,"garcia, aramis",17,0
2,SL,2022-10-05,84.3,2.45,5.21,"Hughes, Brandon",605244,676714,NaN,ball,...,Standard,Standard,216.0,0.0,0.011,waste,0,"garcia, aramis",17,0
3,FF,2022-10-05,93.8,2.32,5.48,"Hughes, Brandon",605244,676714,NaN,called_strike,...,Standard,Standard,133.0,0.0,-0.023,heart,0,"garcia, aramis",17,1
4,FF,2022-10-05,94.1,2.34,5.54,"Hughes, Brandon",605244,676714,NaN,swinging_strike,...,Standard,Standard,133.0,0.0,-0.017,heart,0,"garcia, aramis",17,1
5,FF,2022-10-05,93.8,2.33,5.50,"Hughes, Brandon",608703,676714,field_out,hit_into_play,...,Standard,Standard,126.0,0.0,-0.132,shadow,0,"reynolds, matt",17,0
6,FF,2022-10-05,94.5,2.25,5.47,"Hughes, Brandon",608703,676714,NaN,called_strike,...,Standard,Standard,124.0,0.0,-0.024,shadow,0,"reynolds, matt",17,1
7,FF,2022-10-05,92.8,2.48,5.40,"Hughes, Brandon",641584,676714,field_out,hit_into_play,...,Standard,Standard,130.0,0.0,-0.299,shadow,0,"fraley, jake",17,0
8,FF,2022-10-05,94.7,2.32,5.55,"Hughes, Brandon",641584,676714,NaN,ball,...,Standard,Standard,134.0,0.0,0.103,chase,0,"fraley, jake",17,0

In [63]:
df['is_2_strikes'] = 0
df.loc[df['strikes']==2, 'is_2_strikes'] = 1

In [66]:
df.loc[df['is_2_strikes'] == 1]

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score,is_strike,is_2_strikes
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,Standard,133.0,0.000,-0.083,heart,0,"garcia, aramis",17,0,1
1,FF,2022-10-05,93.3,2.30,5.51,"Hughes, Brandon",605244,676714,NaN,ball,...,Standard,132.0,0.000,0.014,shadow,0,"garcia, aramis",17,0,1
2,SL,2022-10-05,84.3,2.45,5.21,"Hughes, Brandon",605244,676714,NaN,ball,...,Standard,216.0,0.000,0.011,waste,0,"garcia, aramis",17,0,1
7,FF,2022-10-05,92.8,2.48,5.40,"Hughes, Brandon",641584,676714,field_out,hit_into_play,...,Standard,130.0,0.000,-0.299,shadow,0,"fraley, jake",17,0,1
8,FF,2022-10-05,94.7,2.32,5.55,"Hughes, Brandon",641584,676714,NaN,ball,...,Standard,134.0,0.000,0.103,chase,0,"fraley, jake",17,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49023,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",650391,668881,strikeout,called_strike,...,NaN,NaN,0.007,NaN,waste,0,"jiménez, eloy",2,1,1
49026,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",518735,668881,home_run,hit_into_play,...,NaN,NaN,-0.190,NaN,waste,0,"grandal, yasmani",0,0,1
49027,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",518735,668881,NaN,ball,...,NaN,NaN,0.000,NaN,waste,0,"grandal, yasmani",0,0,1
49032,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",673357,668881,strikeout,swinging_strike,...,NaN,NaN,0.015,NaN,waste,0,"robert, luis",0,1,1
49035,NaN,2022-03-31,NaN,NaN,NaN,"Greene, Hunter",641313,668881,strikeout,foul_tip,...,NaN,NaN,0.022,NaN,waste,0,"anderson, tim",0,1,1

In [67]:
df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score,is_strike,is_2_strikes
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,Standard,133.0,0.0,-0.083,heart,0,"garcia, aramis",17,0,1
1,FF,2022-10-05,93.3,2.30,5.51,"Hughes, Brandon",605244,676714,NaN,ball,...,Standard,132.0,0.0,0.014,shadow,0,"garcia, aramis",17,0,1
2,SL,2022-10-05,84.3,2.45,5.21,"Hughes, Brandon",605244,676714,NaN,ball,...,Standard,216.0,0.0,0.011,waste,0,"garcia, aramis",17,0,1
3,FF,2022-10-05,93.8,2.32,5.48,"Hughes, Brandon",605244,676714,NaN,called_strike,...,Standard,133.0,0.0,-0.023,heart,0,"garcia, aramis",17,1,0
4,FF,2022-10-05,94.1,2.34,5.54,"Hughes, Brandon",605244,676714,NaN,swinging_strike,...,Standard,133.0,0.0,-0.017,heart,0,"garcia, aramis",17,1,0

## Home Work

1. use the "strikes" column to find where there are 2 strikes and make a new column
indicating whether the pitch was thrown in a 2 strike situation. 

Name this column: is_2_strikes


2. use the release speend column to find when a pitch is thrown greater than 94 MPH
The column is in MPH already, 

Name this: is_high_velo


3. us the description column AND the attack_zone column to indicate when a pitch is thrown for a called or swinging
strike  (not a foul) in the "heart" attack zone.
This requires two conditional statements
ask google or discord.